.date {
  font-family: 'Poppins-Light', sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

.title {
  font-family: 'Poppins-Bold', sans-serif;
  padding-top: 0.2em;
}

.title > a {
  box-shadow: none;
}

.excerpt {
  margin-bottom: 2em;
  padding-top: 0.5em;
}

.read > a {
  text-decoration: none;
  background-color: var(--blue);
  color: #fff;
  border-radius: 0.2em;
  padding: 0 0.2em;
}

img {
  max-width: 100%;
  margin: 0.25em auto;
}

.feature {
  margin-top: 0.5em;
  border: 1px solid var(--charcoal);
  padding: 0.5em 1.5em;
  background: var(--paper);
  box-shadow: 4px 4px 2px var(--charcoal);
}
