@import "../css/main.css";

.container {
  margin: 0 auto;
  max-width: 600px;
}

header {
  margin: 1em 0 0 0;
  padding: 0.5em;
}

.site-title {
  font-size: 3em;
  font-weight: 500;
  padding: 0em 0 0 0;
  letter-spacing: 4px;
  font-family: 'Monthoers', sans-serif;
  text-align: center;
}

.nav-links {
  text-align: center;
  margin: 1em auto;
  padding-bottom: 0.5em;
}

.nav-link {
  margin: 0 1em;
  font-size: 1.2em;
  text-decoration: none; 
  font-family: 'Poppins-Bold', sans-serif;
  transition: 200ms;
}

.nav-link:hover {
  box-shadow: rgb(68,215,168) 0px -5px 0px inset;
  transition: 200ms;
}

.heading {
  padding: 1em 0;
}

h2 {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 2em;
  padding-top: 1em;
}

p, ul, ol {
  font-size: 1.3em;
  line-height: 1.6em;
  font-weight: normal;
}

p {
  padding-top: 1em;
}

p > a, li > a {
  text-decoration: none;
  box-shadow: rgb(68,215,168) 0px -4px 0px inset;
  transition: 200ms;
}

p > a:hover, li > a:hover {
  box-shadow: rgb(68,215,168) 0px -7px 0px inset;
  transition: 200ms;
}

footer {
  text-align: center;
  margin: 1em 0;
  padding: 1.5em 0;
}

footer p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}