@import "../css/typography.css";
@import "../css/color.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: var(--charcoal);
}

html {
  background: var(--paper);
}

body {
  font-family: 'Vollkorn', Georgia, serif;
}

main {
  min-height: 100vh;
  padding-top: 2em;
}

p { max-width: 60ch; margin: auto; }

ul, ol { margin-left: 1.5em; }

li { list-style-position: outside; }
