@font-face {
  font-family: "Monthoers";
  src: url("../fonts/Monthoers.otf");
}
@font-face {
  font-family: "Vollkorn";
  src: url("../fonts/Vollkorn.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}
